 .g-logo-img {
     width: 160px;
     height: 160px;
     display: block;
     padding: 4px;
     /* padding-right: 10px; */
     margin-bottom: 20px;
     line-height: 1.42857143;
     background-color: #fff;
     overflow: hidden;
     border: 1px solid #ddd;
     border-radius: 4px;
     -webkit-transition: border .2s ease-in-out;
     -o-transition: border .2s ease-in-out;
     transition: border .2s ease-in-out;
 }

#video-thumbnail > img {
    height: 150px;
    width: 150px;
}