<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from demo.themeregion.com/newspress/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Nov 2019 10:07:42 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!--title-->
    <title>News Press | News & Blog Template</title>

    <!--CSS-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet">
    <link href="~/Content/css/subscribe-better.css" rel="stylesheet">
    <link href="~/Content/css/main.css" rel="stylesheet">
    <link id="preset" rel="stylesheet" type="text/css" href="~/Content/css/presets/preset1.css">
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!--Google Fonts-->
    <link href='https://fonts.googleapis.com/css?family=Signika+Negative:400,300,600,700' rel='stylesheet' type='text/css'>

    <!--[if lt IE 9]>
        <script src="js/html5shiv.js"></script>
        <script src="js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="~/Content/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>
    <div id="main-wrapper" class="homepage">
        <header id="navigation">
            <div class="navbar navbar-expand-lg" role="banner">
                <div class="container">
                    <a class="secondary-logo" href="index.html">
                        <img class="img-fluid" src="~/Content/images/presets/preset1/logo.png" alt="logo">
                    </a>
                </div>
                <div class="topbar">
                    <div class="container">
                        <div id="topbar" class="navbar-header">
                            <a class="navbar-brand" href="index.html">
                                <img class="main-logo img-fluid" src="~/Content/images/presets/preset1/logo.png" alt="logo">
                            </a>
                            <div id="topbar-right">
                                <div class="dropdown language-dropdown">
                                    <a data-toggle="dropdown" href="#"><span class="change-text">En</span> <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu language-change">
                                        <li><a href="#">EN</a></li>
                                        <li><a href="#">FR</a></li>
                                        <li><a href="#">GR</a></li>
                                        <li><a href="#">ES</a></li>
                                    </ul>
                                </div>
                                <div id="date-time"></div>
                                <div id="weather">
                                    <span class="weather-icon">
                                        <img src="~/Content/images/others/weather.png" alt="Icon" class="img-fluid">
                                    </span>
                                    <span class="temp"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div id="menubar" class="container">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"><i class="fa fa-align-justify"></i></span>
                    </button>
                    <a class="navbar-brand d-lg-none" href="index.html">
                        <img class="main-logo img-fluid" src="~/Content/images/presets/preset1/logo.png" alt="logo">
                    </a>
                    <nav id="mainmenu" class="navbar-left collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="home">
                                <a href="@Url.Content("~/home/index")" class="dropdown-toggle">Home</a>
                            </li>
                            <li class="home">
                                <a href="@Url.Content("~/AboutUs")" class="dropdown-toggle">About Us</a>
                            </li>
                            <li class="home">
                                <a href="#" class="dropdown-toggle" >City</a>
                            </li>
                            <li class="business">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Business</a>
                            </li>
                            <li class="world dropdown mega-cat-dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">World</a>
                                <div class="dropdown-menu mega-cat-menu">
                                    <div class="container">
                                        <div class="sub-catagory">
                                            <h2 class="section-title">World</h2>
                                            <ul class="list-inline">
                                                <li><a href="listing.html">Usa</a></li>
                                                <li><a href="listing.html">Asia</a></li>
                                                <li><a href="listing.html">Us</a></li>
                                                <li><a href="listing.html">Politics</a></li>
                                                <li><a href="listing.html">Business</a></li>
                                                <li><a href="listing.html">Press</a></li>
                                                <li><a href="listing.html">Travel</a></li>
                                            </ul>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-3">
                                                <div class="post medium-post">
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="~/Content/images/post/2.jpg" alt="Image" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2018 </a></li>
                                                                <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                                <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a href="news-details.html">Apple may be preparing for new Beats radio stations</a>
                                                        </h2>
                                                    </div>
                                                </div><!--/post-->
                                            </div>
                                            <div class="col-md-3">
                                                <div class="post medium-post">
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="~/Content/images/post/6.jpg" alt="Image" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2018 </a></li>
                                                                <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                                <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a href="news-details.html">Why is the media so afraid of Facebook?</a>
                                                        </h2>
                                                    </div>
                                                </div><!--/post-->
                                            </div>
                                            <div class="col-md-3">
                                                <div class="post medium-post">
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="~/Content/images/post/3.jpg" alt="Image" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2018 </a></li>
                                                                <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                                <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a href="news-details.html">Samsung Pay will support online shopping</a>
                                                        </h2>
                                                    </div>
                                                </div><!--/post-->
                                            </div>
                                            <div class="col-md-3">
                                                <div class="post medium-post">
                                                    <div class="entry-header">
                                                        <div class="entry-thumbnail">
                                                            <img class="img-fluid" src="~/Content/images/post/5.jpg" alt="Image" />
                                                        </div>
                                                    </div>
                                                    <div class="post-content">
                                                        <div class="entry-meta">
                                                            <ul class="list-inline">
                                                                <li class="publish-date"><a href="#"><i class="fa fa-clock-o"></i> Nov 5, 2018 </a></li>
                                                                <li class="views"><a href="#"><i class="fa fa-eye"></i>15k</a></li>
                                                                <li class="loves"><a href="#"><i class="fa fa-heart-o"></i>278</a></li>
                                                            </ul>
                                                        </div>
                                                        <h2 class="entry-title">
                                                            <a href="news-details.html">The best games for your phone</a>
                                                        </h2>
                                                    </div>
                                                </div><!--/post-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="health"><a href="listing.html">Headline</a></li>
                            <li class="politics">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Science</a>

                            </li>
                            <li class="environment dropdown mega-dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Environment</a>

                            </li>
                            <li class="entertainment"><a href="@Url.Content("~/Entertainment")">Entertainment</a></li>
                            <li class="environment dropdown mega-dropdown">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown">Sport</a>
                                <div class="dropdown-menu mega-menu">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-md-3">
                                                <h2>Cricket</h2>
                                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Itb-3pISKt8" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <h2>Football</h2>
                                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_6VeZAZdff0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <h2>Tennis</h2>
                                                <div class="entry-thumbnail embed-responsive embed-responsive-16by9">
                                                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/aMLblJxzdv0" allowfullscreen></iframe>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </nav>
                    <div class="searchNlogin">
                        <ul>
                            <li class="search-icon"><i class="fa fa-search"></i></li>
                            <li class="dropdown user-panel">
                                <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i></a>
                                <div class="dropdown-menu top-user-section">
                                    <div class="top-user-form">
                                        <form id="top-login" role="form">
                                            <div class="input-group" id="top-login-username">
                                                <span class="input-group-addon"><img src="~/Content/images/others/user-icon.png" alt="Image" /></span>
                                                <input type="text" class="form-control" placeholder="Username" required="">
                                            </div>
                                            <div class="input-group" id="top-login-password">
                                                <span class="input-group-addon"><img src="~/Content/images/others/password-icon.png" alt="Image" /></span>
                                                <input type="password" class="form-control" placeholder="Password" required="">
                                            </div>
                                            <div>
                                                <p class="reset-user">Forgot <a href="#">Password/Username?</a></p>
                                                <button class="btn btn-danger" type="submit">Login</button>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="create-account">
                                        <a href="#">Create a New Account</a>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        <div class="search">
                            <form role="form">
                                <input type="text" class="search-form" autocomplete="off" placeholder="Type & Press Enter">
                            </form>
                        </div> <!--/.search-->
                    </div><!-- searchNlogin -->
                </div>
            </div>
        </header><!--/#navigation-->

    @RenderBody()

        <div id="twitter-feed">
            <div class="container text-center">
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <div class="twitter-feeds">
                            <div class="twitter-feed">
                                <img class="img-fluid" src="~/Content/images/others/twitter.png" alt="Image" />
                                <h2>#Newspress</h2>
                                <p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
                            </div>
                            <div class="twitter-feed">
                                <img class="img-fluid" src="~/Content/images/others/twitter.png" alt="Image" />
                                <h2>#ThemeRegion</h2>
                                <p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
                            </div>
                            <div class="twitter-feed">
                                <img class="img-fluid" src="~/Content/images/others/twitter.png" alt="Image" />
                                <h2>#Doors</h2>
                                <p>Confusing <a href="#">#design</a> terms: what's the difference between quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. <a href="#">#UX, #UI and #IA? http://buff.ly/1KdjpEi  </a> </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/#twitter-feed-->
        <div class="footer-widget">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h1 class="section-title title">About Us</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
                            <address>
                                <p>Address : 123 Gegrit, London, England</p>
                                <p>Call : +1234-222-3333</p>
                                <p>Email: <a href="#"><span class="__cf_email__" data-cfemail="9bf2f5fdf4dbf5feece8ebe9fee8e8b5f8f4f6">[email&#160;protected]</span></a></p>
                            </address>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h1 class="section-title title">Flickr Gallery</h1>
                            <ul>
                                <li><a href="~/Content/images/post/flicker/1.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/1.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/2.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/2.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/3.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/3.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/4.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/4.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/5.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/5.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/6.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/6.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/7.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/7.jpg" alt="Image" /></a></li>
                                <li><a href="~/Content/images/post/flicker/8.jpg" class="image-link"><img class="img-fluid" src="~/Content/images/post/flicker/8.jpg" alt="Image" /></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget news-letter">
                            <h1 class="section-title title">Weekly NewsLetter</h1>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>

                            <form action="#" method="post" id="subscribe-form" name="subscribe-form">
                                <input type="text" placeholder="Your E-mail" name="email">
                                <button type="submit" name="subscribe" id="subscribe">Subscribe</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.footer-widget-->
    </div><!--/#main-wrapper-->

    <footer id="footer">
        <div class="footer-top">
            <div class="container text-center">
                <div class="logo-icon"><img class="img-fluid" src="~/Content/images/presets/preset1/logo-icon.png" alt="Image" /></div>
            </div>
        </div>
        <div class="footer-menu">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Career</a></li>
                    <li><a href="#">Advertisement</a></li>
                    <li><a href="#">Team</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div class="bottom-widgets">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="widget">
                            <h2>Category</h2>
                            <ul>
                                <li><a href="#">Business</a></li>
                                <li><a href="#">Politics</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">World</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Lifestyle</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h2>Editions</h2>
                            <ul>
                                <li><a href="#">United States</a></li>
                                <li><a href="#">China</a></li>
                                <li><a href="#">India</a></li>
                                <li><a href="#">Maxico</a></li>
                                <li><a href="#">Middle East</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="widget">
                            <h2>Tag</h2>
                            <ul>
                                <li><a href="#">Gallery</a></li>
                                <li><a href="#">Sports</a></li>
                                <li><a href="#">Featured</a></li>
                                <li><a href="#">World</a></li>
                                <li><a href="#">Fashion</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Environment</a></li>
                                <li><a href="#">Health</a></li>
                                <li><a href="#">Entertainment</a></li>
                                <li><a href="#">Lifestyle</a></li>
                                <li><a href="#">Business</a></li>
                            </ul>
                            <ul>
                                <li><a href="#">Tech</a></li>
                                <li><a href="#">Movie</a></li>
                                <li><a href="#">Music</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="widget">
                            <h2>Products</h2>
                            <ul>
                                <li><a href="#">Ebook</a></li>
                                <li><a href="#">Baby Product</a></li>
                                <li><a href="#">Magazine</a></li>
                                <li><a href="#">Sports Elements</a></li>
                                <li><a href="#">Technology</a></li>
                            </ul>
                        </div>
                    </div>
                </div><!-- /.row -->
            </div><!-- /.container -->
        </div>
        <div class="footer-bottom">
            <div class="container text-center">
                <p><a href="#">NewsPress </a>&copy; 2018 </p>
            </div>
        </div>
    </footer>


    <div class="subscribe-me text-center">
        <h1>Don’t Miss The Hottest News</h1>
        <h2>Subscribe our Newsletter</h2>
        <a href="#close" class="sb-close-btn"><img class="img-fluid" src="~/Content/images/others/close-button.png" alt="Image" /></a>
        <form action="#" method="post" id="popup-subscribe-form" name="subscribe-form">
            <div class="input-group">
                <span class="input-group-addon"><img src="~/Content/images/others/icon-message.png" alt="Image" /></span>
                <input type="text" placeholder="Enter your email" name="email">
                <button type="submit" name="subscribe">Go</button>
            </div>
        </form>
    </div>  <!--/.subscribe-me-->
    <!--/Preset Style Chooser-->
    <div class="style-chooser">
        <div class="style-chooser-inner">
            <a href="#" class="toggler"><i class="fa fa-life-ring fa-spin"></i></a>
            <h4>Presets Color</h4>
            <ul class="preset-list clearfix">
                <li class="preset1 active" data-preset="1"><a href="#" data-color="preset1"></a></li>
                <li class="preset2" data-preset="2"><a href="#" data-color="preset2"></a></li>
                <li class="preset3" data-preset="3"><a href="#" data-color="preset3"></a></li>
                <li class="preset4" data-preset="4"><a href="#" data-color="preset4"></a></li>
                <li class="preset5" data-preset="5"><a href="#" data-color="preset5"></a></li>
                <li class="preset6" data-preset="6"><a href="#" data-color="preset6"></a></li>
            </ul>
        </div>
    </div>
    <!--/End:Preset Style Chooser-->
    <!--/#scripts-->
    <script data-cfasync="false" src="~/Content/cloudflare-static/email-decode.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/popper.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/js/owl.carousel.min.js"></script>
    <script src="~/Content/js/moment.min.js"></script>
    <script src="~/Content/js/jquery.sticky-kit.min.js"></script>
    <script src="~/Content/js/jquery.easy-ticker.min.js"></script>
    <script src="~/Content/js/jquery.subscribe-better.min.js"></script>
    <script src="~/Content/js/theia-sticky-sidebar.min.js"></script>
    <script src="~/Content/js/main.js"></script>
    <script src="~/Content/js/switcher.js"></script>
    <script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','../../www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-73239902-1', 'auto');
	  ga('send', 'pageview');

    </script>
</body>

<!-- Mirrored from demo.themeregion.com/newspress/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 17 Nov 2019 10:08:23 GMT -->
</html>